<div class="menu-container">
    <div class="menu-logo">
        <img width="250px" height="50px" src="../../../assets/img/playstation-logo-font.png" alt="" srcset="" >
    </div>
    <div class="menu-item">
       <ul>
        <li><a href="https://www.linkedin.com/in/antoniof-io/" target="_blank" rel="noopener noreferrer">LINKEDIN</a></li>
        <li><a href="https://github.com/AntonioLemos/" target="_blank" rel="noopener noreferrer">GITHUB</a></li>
        <li><a href="https://stackoverflow.com/users/14847423/antonio-ferreira" target="_blank" rel="noopener noreferrer">STACKOVERFLOW</a></li>
       </ul>

    </div>
</div>

